
 <div class="title">
    <h3>
        My Sales Kit
    </h3>
</div>
<div [hidden]="!error" class="error">{{errorMsg}}<img (click)="closeError()" class="icon" src="/assets/close-icon.png"/></div>
<div class="pathBox">
    <div class="path label">Path:</div>
    <div *ngFor="let folder of currentPath" class="path">
        /<a (click)="openFolder(folder.id)" class="pathText">{{folder.title}}</a>
    </div>
</div>
<div class="list-item">
    <div *ngFor="let item of items" >
        <app-folder *ngIf="isFolder(item)" (openFolder)="openFolder($event)" [folder]="item"></app-folder>
        <app-file *ngIf="!isFolder(item)" (handleError)="handleError($event)" [file]="item"></app-file>
    </div>
</div>



