.folder {
    font-size: 12px;
    text-align: center;
    color: blue;
    cursor: pointer;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

@media only screen and (max-width: 1024px) {
    .folder {
        font-size: 12px;
    }

    .thumbnail {
        height: 100px;
        width: 100px;
    }
}