
.file {
    font-size: 14px;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    padding: 5px;
    color: #f5721a;
}

.tooltip {
    font-size: 12px;
    text-align: center;
    color: #f5721a;
    padding: 2px;
    margin: 5px;
    border: 1px solid #f4f4f4;
    background-color: white;
}

.tooltipTemplate {
    font-size: 12px;
    text-align: left;
}

.switch {
    font-size: 14px;
    text-align: center;
    color: #f5721a;
    padding: 2px;
    margin: 5px;
}